.containerBuyButtonMayo :global(.vtex-button) {
	background-color: #c14d25;
	border: 1px solid #c14d25;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.badges {
	width: 2.5rem;
	height: 2.5rem;
}
