/* Gradient Dash */
.flexRow--header-info-strip::after,
.flexRow--order-and-total::after {
	background: linear-gradient(90deg, hsla(0, 0%, 92%, 0), #ebebeb 50%, hsla(0, 0%, 92%, 0));
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.flexRowContent--order-and-total {
	margin-bottom: 1rem;
}

/* Header Info Strip */
.flexRow--header-info-strip {
	background-color: #fff;
}

.flexCol--header-info-strip-welcome {
	flex-direction: row;
	justify-content: center;
	gap: 0.5rem;
}

.flexColChild--header-info-strip-welcome {
	display: flex;
	align-items: center;
}

@media (min-width: 1025px) {
	.flexRow--header-info-strip {
		background-color: #f1f2f2;
	}

	.flexCol--header-info-strip-welcome {
		justify-content: flex-start;
	}
}

/* Half Banner */
.flexRowContent--half-banner {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.flexRowContent--half-banner :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 100% !important;
}

@media (min-width: 1025px) {
	.flexRowContent--half-banner {
		display: flex;
		flex-direction: row;
	}

	.flexRowContent--half-banner :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
		width: 50% !important;
	}
}

/* Search Result */

.flexRowContent--search-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: 0.5rem;
}

.flexColChild--content {
	height: initial !important;
}

.flexRow--order-and-total {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.flexCol--content {
	gap: 1rem;
}

.flexRowContent--search-content :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 100% !important;
}

.flexRowContent--product-summary-list {
	display: grid;
	grid-template-columns: 220px 1fr;
}

.flexRowContent--product-summary-list :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 100% !important;
}

.flexRowContent--product-summary-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.flexRow--search-content {
	margin-top: 1rem;
}

@media screen and (min-width: 1026px) {
	.flexCol--filter-navigator {
		background-color: #efefef;
		padding: 1rem;
		border-radius: 0.5rem;
		height: fit-content;
	}

	.flexRowContent--search-content {
		grid-template-columns: 290px 1fr;
	}
}

/* Product Summary */
.flexRowContent--add-to-cart-button :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 100% !important;
}

.flexRowContent--add-to-cart-button :global(.vtex-button__label) {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* Product Page */

.flexColChild--product-main-left {
	height: initial !important;
}

.flexCol--product-info-right {
	background-color: #f5f7f9;
	border-radius: 0.5rem;
	padding: 1rem;
	height: fit-content;
}

.flexRowContent--row-product-right {
	display: flex;
	flex-direction: column;
}

.flexRowContent--row-product-right :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
	width: 100% !important;
	padding-right: 0 !important;
}

.flexCol--product-right-price {
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	gap: 0.5rem;
}

.flexCol--product-right-price,
.flexCol--shipping-simulator,
.flexCol--add-to-cart-buy {
	margin-bottom: 1rem;
}

.flexCol--shipping-simulator {
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
}

.flexRowContent--product-main {
	gap: 2rem;
}

.flexColChild--one-click-buy :global(.vtex-button) {
	background-color: #45a8f4;
	border-color: #45a8f4;
}
