.triggerContainer {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background: #003087;
	font-family: Tramontina Textos, sans-serif;
	font-weight: 500;
	padding: 1rem;
	color: #fff;
	border-radius: 0.5rem;
}

.triggerContainer::after {
	content: "Departamentos";
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
}

.triggerButtonIcon {
	width: 20px;
	height: 20px;
}

.menuContainerNav {
	z-index: 10;
	max-width: 1024px;
	padding: 0;
	left: 100px;
	top: -35px;
	border: none;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.menuContainer {
	height: 480px;
	max-height: 480px;
	min-height: 480px;
	width: 360px;
	min-width: 360px;
}

.submenuContainer {
	height: 480px;
	max-height: 480px;
	min-height: 480px;
}

.departmentsTitle--megaMenuMobile {
	display: none;
}

.menuContainerVertical--megaMenuMobile {
	margin: 0px;
}

.styledLinkContainer {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-right: 0;
}
