.container {
	background-color: #fff;
	position: relative;
}

.element {
	padding-top: 0;
	padding-bottom: 0;
}

.imageWrapper {
	background-color: #efefef;
}

.image {
	mix-blend-mode: multiply;
	transition: all 0.3s ease;
}

.clearLink {
	transition: all 0.3s ease;
}

.clearLink:hover {
	background-color: transparent;
}

.clearLink:hover .image {
	transform: initial;
}

.nameContainer--name {
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	flex: 1;
}

.productBrand--name {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 0.875rem;
	font-weight: 400;
	color: #414042;
}

@media (min-width: 1024px) {
	.clearLink:hover {
		background-color: #efefef;
	}

	.clearLink:hover .image {
		transform: scale(0.95);
	}
}
