.imageElementLink--carousel-banner {
	display: flex;
	width: 100%;
}
.imageElement--carousel-banner {
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	max-height: initial !important;
	border-radius: 1rem;
}
