.sliderTrack--shelf {
	gap: 1rem;
}

.paginationDot {
	background-color: #d1d3d4;
	height: 0.6rem !important;
	width: 0.6rem !important;
}

.paginationDot--isActive {
	background-color: #003087;
	height: 0.7rem !important;
	width: 0.7rem !important;
}
