.sliderTrack--shelf,
.sliderTrack--slider-banner {
	gap: 1rem;
}

.paginationDotsContainer {
	bottom: -2rem;
	align-items: center;
}

.paginationDot {
	background-color: #d1d3d4;
	height: 0.6rem !important;
	width: 0.6rem !important;
}

.paginationDot--isActive {
	background-color: #003087;
	height: 0.7rem !important;
	width: 0.7rem !important;
}

.paginationDotsContainer--hero-banner {
	bottom: 1.5rem;
}

.paginationDot--hero-banner {
	background-color: #414042;
	height: 0.6rem !important;
	width: 0.6rem !important;
}

.paginationDot--hero-banner--isActive {
	background-color: #ffffff;
	height: 0.7rem !important;
	width: 0.7rem !important;
}

.sliderArrows--slider,
.sliderArrows--shelf {
	background-color: #ffffff !important;
	margin: 0;
	padding: 0.5rem;
	border-radius: 100%;
	border: 1px solid #d1d3d4;
}

.caretIcon--slider,
.caretIcon--shelf {
	width: 1rem;
	height: 1rem;
}

.sliderLeftArrow--slider,
.sliderLeftArrow--shelf {
	left: 1rem;
}

.sliderRightArrow--slider,
.sliderRightArrow--shelf {
	right: 1rem;
}
