.container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
}

.caretIcon {
	margin-right: 0.5rem;
}

.homeLink {
	display: inline-flex;
	align-self: center;
	justify-content: center;
}

.arrow {
	display: flex;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
}

.link,
.term {
	display: inline-flex;
	align-items: center;
	font-size: 0.875rem;
	color: #939598;
}
