.paragraph--welcome {
	margin-top: 0;
	margin-bottom: 0;
}

.paragraph--departamento-title {
	margin-top: 0;
	margin-bottom: 0;
}

.heading--title-blue,
.paragraph--title-blue {
	margin-top: 0;
	margin-bottom: 0;
}

.heading--title-blue {
	font-weight: 500;
	font-size: 2rem;
}

.paragraph--title-blue {
	font-weight: 400;
	font-size: 1rem;
}

.heading--title {
	margin-top: 0;
	margin-bottom: 1rem;
}

.container--title {
	display: flex;
	flex-direction: column;
}

.container--title::after {
	background: linear-gradient(
		90deg,
		hsla(0, 0%, 92%, 0),
		#ebebeb 50%,
		hsla(0, 0%, 92%, 0)
	);
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin-bottom: 1rem;
}

.strong--departamento-title,
.strong--title {
	color: #003087;
}

.headingLevel2--slider-banner-title,
.headingLevel3--slider-banner-title {
	margin-top: 0;
	margin-bottom: 2rem;
}

.container--title-blue {
	background-color: #003087;
	color: white;
	border-radius: 1rem;
	margin-bottom: 1.5rem;
	padding: 1rem;
}

.paragraph--notification {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.875rem;
}

.strong--notification {
	color: #003087;
}
