.minicartContainer :global(.vtex-button) {
	background-color: transparent;
}

.openIconContainer {
	padding: 0;
}

.minicartWrapperContainer :global(.vtex-button__label) {
	padding-left: 0;
	padding-right: 0;
}

.minicartWrapperContainer :global(.vtex-button) {
	border: none;
	min-height: fit-content;
}
