.buttonDataContainer--product-summary {
	width: 100%;
	justify-content: space-between;
}

.buttonDataContainer--product-summary::after {
	content: "";
	font-family: "FontAwesome";
	font-weight: 400;
}
