.departamentListTitle p,
.departamentListTitle h1,
.departamentListTitle h2,
.departamentListTitle h3,
.departamentListTitle h4,
.departamentListTitle h5,
.departamentListTitle h6 {
	font-size: 2.25rem;
	font-weight: bold;
}

.paginationDotsContainer {
	bottom: -2rem;
	align-items: center;
}

.paginationDot {
	background-color: #d1d3d4;
	height: 0.6rem !important;
	width: 0.6rem !important;
}

.paginationDot--isActive {
	background-color: #003087;
	height: 0.7rem !important;
	width: 0.7rem !important;
}
