.departamentListTitle p,
.departamentListTitle h1,
.departamentListTitle h2,
.departamentListTitle h3,
.departamentListTitle h4,
.departamentListTitle h5,
.departamentListTitle h6 {
	font-size: 2.25rem;
	font-weight: bold;
}

.departamentListTitle p::after,
.departamentListTitle h1::after,
.departamentListTitle h2::after,
.departamentListTitle h3::after,
.departamentListTitle h4::after,
.departamentListTitle h5::after,
.departamentListTitle h6::after {
	background: linear-gradient(90deg, hsla(0, 0%, 92%, 0), #ebebeb 50%, hsla(0, 0%, 92%, 0));
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin-top: 1rem;
}
