.ProductShortDescriptionContent {
	margin: 0;
}

.ProductShortDescriptionLink {
	cursor: pointer;
}

.ProductDescriptionContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.ProductDetalleButton {
	border: none;
	background-color: transparent;
	padding: 0;
	text-decoration: underline;
	cursor: pointer;
}

.ProductSizes {
	background-color: #ececec;
	border-radius: 0.5rem;
}

.ProductGridSizes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.5rem;
}

label[for="toggle-pdp"] > div {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

label[for="toggle-pdp"] span {
	margin-left: 0;
	margin-right: 0.5rem;
}

.ProductTitleReviewContent {
	display: flex;
	flex-direction: column;
}

.ProductTitleReviewBlue {
	color: #003087;
}

.ProductButtonContenido {
	width: 100% !important;
	max-width: 180px;
	border: 2px solid #ececec;
	gap: 0.5rem;
	cursor: pointer;
}

.ProductModalContenido {
	backdrop-filter: blur(5px);
}

.ProductModalContenidoBase {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
}

.ProductModalContenidoGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.ProductModalContenidoGrid::-webkit-scrollbar {
	width: 6px;
}

.ProductModalContenidoGrid::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.ProductModalContenidoGrid::-webkit-scrollbar-track {
	background: transparent;
}

.ProductModalContenidoAdditionalBox {
	height: fit-content;
}

.ProductModalContenidoGridProductName {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-align: center;
}

.ProductModalContenidoGridProductImage {
	mix-blend-mode: multiply;
	transition: all 0.3s ease;
}

.ProductModalContenidoAdditionalInfo {
	background-color: #ececec;
	border-radius: 0.5rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

.PDPPriceDiscount {
	width: fit-content;
}

.PDPPriceDiscountIcon {
	font-family: "Font Awesome 6 Pro";
	font-weight: bold;
	font-style: normal;
}

.PDPPriceContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media (max-width: 768px) {
	.ProductDescriptionContent {
		grid-template-columns: 1fr;
	}

	.ProductModalContenidoGrid {
		grid-template-columns: repeat(2, 1fr);
	}
}
