.containerTopBar {
	background-color: transparent;
}

.containerTopBar::after {
	background: linear-gradient(
		90deg,
		hsla(0, 0%, 92%, 0),
		#ebebeb 50%,
		hsla(0, 0%, 92%, 0)
	);
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

@media (min-width: 1026px) {
	.containerTopBar {
		background-color: #f7f7f7;
	}
}
